button {
    padding: 8px 12px;
    background-color: red;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;

}

#btn {
    padding: 8px 12px;
    background-color: black;
    border-radius: 20px;
    border: 1px solid #fff;  
    color: #fff;
}

.btn {
    padding: 8px 12px;
    background-color: darkmagenta;
    border-radius: 20px;
    border: 1px solid #fff;  
    color: #fff;
}