@use '../../styles/variables';

nav.top-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: variables.$header-height;
    background-color: variables.$primary;
    border-bottom: 1px solid #d2d2d2;
    align-items: center;
    font-weight: bold;
    overflow: hidden;
    color: variables.$secondary;
    a {
        text-decoration: none;
        color:inherit;
        vertical-align: middle;
        overflow: hidden;
        color: inherit;
        background-color: inherit;
        text-align: center;
        padding: 16px 8px;
        cursor: pointer;
        &.active {
            &::before{
                content: "";
                display: block;
                width: inherit;
                height: 2px;
                background-color: rgba(variables.$primary, 80%);
                position: relative;
                top: 30px;
            }
        }
        &:hover {
            background-color: invert($color: #333);
            // @extend .active;
        }
        &:visited{
            color:inherit;
        }
    }
}