@use '../../styles/variables';

$padding: variables.$pad-marg;
.app-container {
  background-color: variables.$background;
  $r: variables.$header-height + variables.$footer-height;
  min-height: calc(100vh - #{$r});
  padding: variables.$footer-height ;
}
