@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100;500&display=swap');
@import './variables';
@import './button';
@import './loading';

*{
  margin:0;
  padding: 0;
}

.component {
  border: 1px solid hotpink;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $primary;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .mt-1 {
    margin-top: 1em;
  }

  .background {
    color: rgba(#000, 0.87);
  }