@use '../../../../styles/variables';

.bottom-footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgba(variables.$primary, 0.80);
    height: variables.$footer-height;
    width: 100vw;
    text-align: center;
    overflow: hidden;
    background-color: variables.$primary;
    color: variables.$secondary;
    p {
        padding: 12px 0;
    }
}