@use '../../../../styles/variables';

nav.top-navigation {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: variables.$header-height;
        background-color: variables.$primary;
        border-bottom: 1px solid rgba(variables.$primary, 0.80);
        align-items: center;
        font-weight: bold;
        overflow: hidden;
        color: variables.$secondary;
    }
    li {

        list-style: none;

    a {
        text-decoration: none;
        color:inherit;
        vertical-align: middle;
        overflow: hidden;
        color: inherit;
        background-color: inherit;
        text-align: center;
        // padding: 16px 8px;
        cursor: pointer;
        &.active {
            &::before{
                content: "";
                display: block;
                width: inherit;
                height: 2px;
                background-color: rgba(variables.$secondary, 80%);
                position: relative;
                top: 22px;
            }
        }
        &:hover {
            background-color: rgba($color: #fff,$alpha:0.50);
            // @extend .active;
        }
        &:visited{
            color:inherit;
        }
    }
}
}